.guestTableLayout {
	height: 860px;
	border:1px solid black;
}

.guestTableLayout > div {
	float:left;
	height:850px;
	width: 845px;
	overflow:scroll; 
}



.guestTableLayout > div:FIRST-CHILD {
	float:left;
	width:275px;
}

.table {
	position:absolute;
	min-height:50px;
	width:275px;
	border:1px solid black;	
	margin: 3px;
	
}

.table div.fullMode .header > div, .seat .header > span{
	float:right;
	margin-right:5px;
	white-space: nowrap;
	cursor: pointer;
}

.table > div.fullMode .header > div:FIRST-CHILD {
	max-width: 183px;
}

seat .header > div {
	max-width: 240px;
}

.table div.fullMode .header > div:FIRST-CHILD, .seat .header > div,.table div.minMode div[title]{
	float:left;
	margin:0px;	
	text-overflow: ellipsis;
	overflow: hidden;
}


.table div.minMode > div:FIRST-CHILD {
	border-bottom:1px solid black;
}


.table div.fullMode .header > div > span {
	display:inline-block;
}

div.fullMode {
	display:none;
}

.table .seat{
	height:40px;
	border:1px solid black;	
	margin: 3px;
}

.table .seat > div:LAST-CHILD, #guestList > div{
	background-color:grey;
	border: 1px solid black;
	cursor: pointer;
	color:white;
}

 #guestList > div {
 	text-overflow: ellipsis;
	overflow: hidden;
 }

.icon-only-holder {
	width:16px;
}

.delete-user, .edit-user, .moreinfo {
	float: right;
}

#dialogs {
	display:none;
}

.clear {
	clear:both !important;
	width:1px !important;
	height:1px !important;
	margin:0px !important;
	paddng:0px !important;
	border:0px !important;
}

#guestListFiliters {
	padding:5px 2px;
}

#guestListFiliters > span{
	cursor: pointer;
}

#guestListFiliters > span span:first-child{
	display:inline-block;
	vertical-align: middle;
}

#guestListFiliters > span span:last-child{
	padding-right: 5px;
}
